@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*{
    box-sizing: border-box;
}

body, ul, li, a, button{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

body{
    font-family: "Poppins", sans-serif;
}


/* login-page */
/* h1{
    margin: 0;
} */

.login-wrap{
    max-width: 600px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.login-cont{
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: rgb(183, 187, 183);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    margin: 80px;
}

.head-cont{
    display: flex;
    gap: 20px;
    padding: 0 0 20px;
}

.head-cont h1{
    cursor: pointer;
}

.log-form{
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.bt-cont{
    display: flex;
    justify-content: right;
}

.log-form .button{
    margin-top: 20px;
    width: fit-content;
    color: #000;
}

.input-cont{
    display: flex;
    gap: 10px;
}
.input-cont label{
    width: 90px;
}

.underlines{
    text-decoration: 2px underline red;
    text-underline-offset: 10px;
}

.disabled{
    color: rgb(127, 133, 127);
}

.error{
    color: red;
}

/* main index */
.main-wrap{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: rgb(236, 250, 236);
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(183, 187, 183);
    padding: 10px 10px;
}

.button{
    padding: 10px;
    font-family: inherit;
    font-size: 16px;
    background-color: rgb(232, 245, 232);
    border: none;
    border-radius: 5px;
}

i{
    margin-right: 10px;
}
h3{
    margin: 0px;
}

.right-bt-cont{
    display: flex;
    gap: 5px;
}

.person{
    width: 47px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.person svg{
    width: 22px;
    object-fit: cover;
}

.person-info-cont{
    right: 10px;
    max-width: 300px;
    display: block;
    position: absolute;
    background-color: rgb(236, 250, 236);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 3px solid rgb(183, 187, 183);
    border-radius: 10px;
    padding: 20px 30px 30px;
    z-index: 1;
}
.person-back-btn{
    /* height: 30px; */
    display: flex;
    position: relative;
    justify-content: right;
    margin-bottom: 20px;
}
.person-back-btn svg{
    width: 20px;
}
.person-name{
    display: block;
    text-align: center;
}
.person-btn-cont{
    display: flex;
    justify-content: right;
    margin-top: 20px;
}
.person-btn-cont .button{
    background-color: rgb(183, 187, 183);
    color: rgb(236, 250, 236);
}

.person-back{
    display: flex;
    position: relative;
    flex-flow: row wrap;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-wrap: nowrap;
    padding: 10px 20px;
}

.content-wrap{
    position: relative;
    padding: 10px;
    margin-top: 20px;
    padding-bottom: 0px;
}

.search-container{
    min-width: 100px;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form{
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid rgb(183, 187, 183);
    border-radius: 30px;
    padding: 10px;
}

.search-icon svg{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
}

.form input{
    width: fit-content;
    border: none;
    border-radius: 30px;
    background-color: transparent;
}

.form input:focus{
    outline: none;
}

#search-button{
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
}

#search-button svg{
    width: 20px;
    height: 20px;
}

.all-btn{
    width: 40px;
    height: 42px;
    border: 1px solid rgb(183, 187, 183);
    border-radius: 30px;
    background: transparent;
}

.tasks-wrap, .task-wrap{
    width: 100%;
    max-height: 540px;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    gap: 10px;
    flex-flow: column;
    background-color: rgb(183, 187, 183);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.task-wrap{
    max-height: 260px;
    overflow: hidden;
    overflow-y: scroll;
}

.task-container{
    display: flex;
    flex-flow: flex;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: 1px solid rgb(236, 250, 236);
}

.task-buttons{
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.task-head{
    width: 50%;
    display: flex;
    flex-flow: column;
    color: #000;
}


/* -----------Add New Item------------ */

.back-btn{
    height: 49px;
}
.back-btn svg{
    width: 30px;
    height: 30px;
    font-size: 1rem;
}
.item-info-container{
    width: 100%;
    bottom: 0px;
    position: fixed;
    border: 5px solid rgb(236, 250, 236);
}

.item-info{
    display: none;
}

.item-info-container nav{
    border-radius: 5px 5px 0px 0px;
}

.item-info-container form{
    display: flex;
    flex-flow: column;
    gap: 10px;
    justify-content: space-between;
    background-color: rgb(183, 187, 183);
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
}

.form-cont{
    display: flex;
    gap: 20px;
    flex-flow: row wrap;
    align-items: left;
    justify-content: left;
}

.form-cont div{
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 10px;
    justify-content: space-between;
}

.item-info-container form input{
    padding: 8px;
    border: none;
    background-color: rgb(240, 247, 240);
    border-radius: 5px;
}

.item-info-container form button{
    width: 100px;
    align-self: flex-end;
}

.add-task{
    display: none;
}

.edit-task{
    display: none;
}

#delete-el{
    height: 47px;
}
#delete-el i{
    color: red;
}
#edit-el i{
    color: green;
}


/* -----------timer-page------------- */

.timer-wrap{
    padding: 0px 10px;
}

.timer-head{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.task-details{
    margin-right: 5px;
}

h1{
    margin-bottom: 5px;
}

.total-time-container{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 20px 0 0;
}

.time-container{
    width: 140px;
    height: 140px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border: 4px solid rgb(183, 187, 183);
    border-radius: 60px;
}
.tot-time{
    width: 90px;
    margin-left: 10px;
}

.by-default-text{
    width: 100%;
    text-align: center;
    color: rgb(236, 250, 236);
}

.li{
    display: flex;
    position: relative;
    flex-flow: column;
    flex-wrap: nowrap;
    gap: 10px;
    padding: 10px 10px;
    border-bottom: 1px solid rgb(236, 250, 236);
}

.green-signal{
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50px;
    position: absolute;
    right: 20px;
    top: 18px;
}

.li .li-cont span{
    min-width: 60px;
    min-height: 20px;
}

#home-button{
    height: 45px;
}

.home-button svg{
    height: 20px;
    width: 20px;
    font-size: 1rem;
}

.main-task-wrap{
    position: relative;
    display: flex;
    flex-flow: column;
    gap: 30px;
}

.button-container{
    display: flex;
    gap: 10px;
    align-self: flex-end;
    margin-right: 5px;
}

.submit-button{
    width: fit-content;
    display: flex;
    align-self: flex-end;
}

.border-view{
    border: 1px solid rgb(183, 187, 183);
}


/* ----------------Time-Log---------------- */

.time-log{
    height: 66px;
}

.date-search{
    margin-bottom: 0px;
    margin-top: -4px;
}

.date-search-btn{
    padding-left: 10px;
}

.date-search form{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.time-log .task-head{
    padding: 0px 10px;
    text-wrap: nowrap;
}

.date-head{
    width: 100%;
    display: block;
    font-weight: 800;
    border-bottom: 1px solid #000;
    text-align: center;
    padding: 15px 0px;
    margin-bottom: 10px;
}

.dates-container{
    display: flex;
    gap: 10px;
    flex-flow: row;
    align-items: center;
    overflow: hidden;
    overflow-x: scroll;
}

.dates-container::-webkit-scrollbar{
    display: none;
}

.dates-wrap::-webkit-scrollbar{
    display: none;
}

.date{
    padding: 10px 15px;
    border: 2px solid rgb(236, 250, 236);
    border-radius: 50px;
    cursor: pointer;
}
.date:hover{
    background-color: rgb(232, 245, 232);
    border-color: #000;
}

.canvas-place{
    width: 100%;
    height: 100%;
    display: block;
    min-height: 300px;
}

canvas{
    height: 100%;
    min-height: 300px;
}

/* --------grid-graph--------- */

.grid-graph-container{
    width: 100%;
    display: block;
    color: rgb(111, 114, 111);
    margin-top: 50px;
}

.graph-top{
    display: flex;
}

.div-container{
    width: 100%;
    height: auto;
    display: flex;
}

.main-graph{
    width: 100%;
    min-height: 200px;
    display: flex;
    gap: 20px;
    border-left: 2px solid rgb(183, 187, 183);
    border-bottom: 2px solid rgb(183, 187, 183);
    padding: 20px 10px 0;
    /* overflow: hidden;
    overflow-x: scroll; */
}

.box{
    display: flex;
    flex-flow: column-reverse;
}

.box-col{
    width: 60px;
    height: 60px;
}

.side-heads{
    display: flex;
    align-items: flex-end;
}

.log-time-container{
    display: flex;
    flex-flow: column-reverse;
    padding-top: 20px;
    margin-bottom: -8px;
}

.time{
    width: 30px;
    height: 60px;
    display: flex;
    align-items: flex-end;
    justify-content: right;
    margin-right: 4px;
}

.log-task-container{
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    padding: 10px 10px 10px 12px;
}

.down-heads{
    margin-left: 34px;
}

.task{
    width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.bend{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.red-back{
    background-color: rgb(183, 187, 183);
}

.half-back{
    background: linear-gradient(to top, rgb(183, 187, 183) 59%, rgba(0,0,0,0) 50%);
}

@media screen and (min-width: 768px) {
    .person svg{
        width: 25px;
    }
    .person-info-cont{
        right: 38px;
        top: 70px;
        padding: 20px 40px 40px;
    }
    .login-cont{
        padding: 20px 60px;
    }
    .head-cont{
        gap: 50px;
    }
    nav{
        padding: 10px 40px;
    }
    #home-button{
        height: 47px;
    }
    .button{
        font-size: 18px;
    }
    .content-wrap{
        padding: 40px;
        margin-top: 35px;
    }
    .timer-wrap{
        padding: 0px 40px;
    }
    .task-container{
        align-items: center;
    }
    .time-log{
        margin-top: 20px;
    }
    .task-buttons{
        display: flex;
        flex-flow: row;
        gap: 5px;
    }
    .li{
        flex-flow: row;
        flex-wrap: nowrap;
        gap: 80px;
        padding: 30px 60px;
    }
    .start-text{
        padding: 10px 60px;
    }
    .form-cont div{
        flex-flow: row;
        align-items: center;
        width: fit-content;
    }
    .item-info-container form{
        padding: 40px;
    }
    .task-wrap{
        max-height: 280px;
    }
    .green-signal{
        left: 20px;
        top: 38px;
        right: auto;
    }
    .time-wrap{
        padding-top: 0;
        padding-bottom: 0;
    }
    .time-log .task-container{
        flex: 1;
    }
    .time-log .task-head{
        width: 100%;
        padding-right: 20px;
    }
    .dates-container{
        flex-wrap: wrap;
    }
    .canvas-place{
        min-height: auto;
    }
    canvas{
        min-height: auto;
    }

}

@media screen and (min-width:1024px) {
    .item-info-container form{
        flex-flow: row;
    }
    .main-content{
        display: flex;
        flex-flow: row-reverse;
        justify-content: space-between;
        gap: 10px;
    }
    .time-log{
        min-width: 200px;
        height: fit-content;
    }
    .canvas-place{
        height: fit-content;
    }
    .graph-container{
        min-width: 600px;
    }
    .time-log::-webkit-scrollbar{
        display: none;
    }
}

@media screen and (min-width:1440px) {
    .person-info-cont{
        right: 78px;
        padding: 20px 40px 40px;
    }
    nav{
        padding: 10px 80px;
    }
    .content-wrap{
        padding: 0px 80px;
    }
    .tasks-wrap{
        max-width: 1440px;
        margin: 0 auto;
    }
    .search-container{
        max-width: 1440px;
        margin: 40px auto 40px;
    }
    .main-task-wrap{
        max-width: 1440px;
        margin: 0 auto;
    }
    .item-info-container form{
        padding: 40px 80px;
    }
    .li{
        justify-content: center;
    }
    .canvas-place{
        height: auto;
    }
    .time-log{
        min-width: 300px;
    }
    .head-content{
        /* display: block; */
        max-width: 1440px;
        margin: 0 auto;
    }
    .main-content{
        max-width: 1440px;
        margin: 0 auto;
    }
    .graph-container{
        width: 100%;
        max-width: 800px;
    }
    canvas{
        max-height: 800px;
    }
}